---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: truekube
provisioner: nfs.csi.k8s.io
parameters:
  server: 10.11.22.3
  share: /mnt/tfpool1/kubernetes
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions: ["hard", "noatime"]
# mountPermissions: 0777
